*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(39, 42, 77);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

#board{
    background: linear-gradient(rgb(125, 233, 125), rgb(182, 236, 155));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

#score_display{
    position: absolute;
    top:9px;
    right: 200px;
    font-size: 30px;
    font-weight: 700;
}
#highscore_display{
    position: absolute;
    top:42px;
    right: 200px;
    font-size: 30px;
    font-weight: 700;
}
.snake_head{
    /* background: url(../snakehead.png); */
    background-color: brown;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    color: aliceblue;
    /* transform: scale(1.2); */
}
.snake_body{
    background-color: rgb(244, 10, 10);
    border: 1px solid white;
    border-radius: 50%;
}
.snake_food{
    background: linear-gradient(white,rgba(229, 104, 104, 1), rgba(231, 75, 54, 1));
    border: 1px solid rgb(227, 58, 58);
    border-radius: 50%;
}

#gameOver{
    display: none;
    border:3px solid red;
    background-color: aquamarine;
    padding: 30px;
    position: absolute;
    top: 45vh;
    left: 45vw;
    transition: cubic-bezier();
}